#stats {
    background-color: black;
    color:white;
}

.main-header {
    font-size: 58px;
    font-weight: 500;
}

/* @keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.stat-1.enter {
  animation: slideIn 1s forwards;
  overflow: hidden;
}

.stat-1.exit {
  animation: slideOut 1s forwards;
  overflow: hidden;
}

.stat-2.enter {
  animation: slideIn 1s forwards;
  overflow: hidden;
}

.stat-2.exit {
  animation: slideOut 1s forwards;
  overflow: hidden;
} */


